{% extends 'marea/layout.html' %}


{% block content %}
    {% if form.instance.id %}
        <h1>Update event</h1>
    {% else %}
        <h1 class="mb-5">Create new event</h1>
    {% endif %}

    <form class="form" action="
            {% if form.instance.id %}
                {% url 'events:update' form.instance.id %}
            {% else %}
                {% url 'events:create' %}
            {% endif %}"
            method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <input class="form-control shadow-lg" type="{{ form.title.field.widget.input_type }}"
                   name="{{ form.title.name }}" placeholder="Title"
                   value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
        
            {% if form.title.errors %}
                <div class="msg error">
                    {% for error in form.title.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <input class="form-control shadow-lg" type="{{ form.event_date.field.widget.input_type }}"
                   name="{{ form.event_date.name }}" placeholder="2019-05-29" step=".01"
                   value="{% if form.event_date.value %}{{ form.event_date.value }}{% endif %}">
        
            {% if form.event_date.errors %}
                <div class="msg error">
                    {% for error in form.event_date.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <textarea class="form-control shadow-lg"
                      name="{{ form.description.name }}" placeholder="Description" rows="3">{% if form.description.value %}{{ form.description.value }}
{% endif %}
</textarea>
        
            {% if form.description.errors %}
                <div class="msg error">
                    {% for error in form.description.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <div class="custom-file">
                <input id="{{ form.image.id_for_label }}" class="custom-file-input"
                       name="{{ form.image.name }}" type="{{ form.image.field.widget.input_type }}">
                <label for="{{ form.image.id_for_label }}" class="custom-file-label">Upload image</label>
            </div>

            {% if form.image.errors %}
                <div class="msg error">
                    {% for error in form.image.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button class="btn btn-indeform btn-block shadow-lg mt-5" type="submit">
            {% if form.instance.id %}
                Update
            {% else %}
                Create
            {% endif %}
        </button>
    </form>
{% endblock content %}
