
{% extends 'marea/layout.html' %}


{% block content %}
    <h1 class="mb-5">Delete event</h1>

    <form action="{% url 'events:delete' event.id %}" method="post">
        {% csrf_token %}

            <h5 class="mb-5">Are you sure you want to delete <span class="font-italic font-weight-bold">{{ event.title }}</span>?</h3>
        
            <div>
                <a class="btn btn-indeform" href="{% url 'events:detail' event.id %}" role="button">Cancel</a>
                <button class="btn btn-indeform-danger" type="submit">Delete</button>
            </div>
        </form>
{% endblock content %}
